importing the Dependencies

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#!pip install sweetviz
import sweetviz as sv
from sklearn.cluster import KMeans

In [3]:
df = pd.read_csv('Mall_Customers.csv')

Statastical Analysis

In [4]:
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [5]:
df.tail()

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

In [6]:
# Finding the number of rows and columns
df.shape

(200, 5)

In [7]:
df.size

1000

In [8]:
#getting information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [9]:
#from the above info method we got to know that, there are 200 instances ranging from 0 to 199.
#The dataset have total of 5 Features which are 'CustomerID','Gender','Age','Annual Income(k$)',
#'Spending score (1-100)'. The Features have datatype int64 and object respectively.

In [10]:
# Checking for missing values
df.isna().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [11]:
# This 'isna' method shows that their is no null values present in the dataset
# if their is any missing values we use data imputation method to fill the missing values.

In [12]:
df.drop('CustomerID',axis = 1, inplace = True)

In [13]:
# we dropped the 'CustomerID' column becouse it is not req. for the analysis

In [ ]:
sns.boxplot(df['Age'])

In [ ]:
sns.boxplot(df['Annual Income (k$)'])

In [ ]:
sns.boxplot(df['Spending Score (1-100)'])

The above Boxplot shows that their are no outliers present in the dataset. Means our data is normally Distributed

In [ ]:
sns.distplot(df['Annual Income (k$)'])

In [ ]:
my_report = sv.analyze(df)
my_report.show_html()

In [ ]:
sns.distplot(df['Spending Score (1-100)'])

In [ ]:
plt.figure(figsize=(18,12))
sns.relplot(x = 'Annual Income (k$)',y = 'Spending Score (1-100)', data = df,)

Above plot shows that the scattedness of the points in a cluster where the x axis if for 'Annual Income (k$)' and y axis is for 'Spending Score (1-100)'

In [ ]:
# Slecting Variables for training purpose

In [ ]:
X = df.iloc[:,[2,3]].values

In [ ]:
print(X)

Choosing the right number of Clusters

In [ ]:
# WCSS - Withi Clusters sum squares

In [ ]:
wcss = []
for i in range(1,11):
  kmeans = KMeans(n_clusters = i, init = 'k-means++')
  kmeans.fit(X)
  wcss.append(kmeans.inertia_)

In [ ]:
sns.set()
plt.plot(range(1,11),wcss)
plt.title('Elbow point graph')
plt.xlabel('number of clusters')
plt.ylabel('wcss')
plt.show()

Minimum number of clusters = 5

In [ ]:
kmeans = KMeans(n_clusters=5, init='k-means++')

y = kmeans.fit_predict(X)
print(y)

In [ ]:
plt.figure(figsize =(12,8))
plt.scatter(X[y==0,0],X[y==0,1],s = 50,label = 'cluster1',color = 'green')
plt.scatter(X[y==1,0],X[y==1,1],s = 50,label = 'cluster2',color = 'blue')
plt.scatter(X[y==2,0],X[y==2,1],s = 50,label = 'cluster3',color = 'red')
plt.scatter(X[y==3,0],X[y==3,1],s = 50,label = 'cluster4',color = 'yellow')
plt.scatter(X[y==4,0],X[y==4,1],s = 50,label = 'cluster5',color = 'purple')

plt.scatter(kmeans.cluster_centers_[:,0],kmeans.cluster_centers_[:,1],s = 100,label = 'centroid',color = 'cyan')
plt.title('customer group')
plt.xlabel('Annual Income')
plt.ylabel('spending Score')
plt.show()

From the above graph we can understand how peoples spend their income on the scale of (1-100). through which we can make predictions on new data that what will be the spending score of a person if his income will come

In [ ]:
#Prediction for Age and Income

In [ ]:
X1 = df.iloc[:,[1,2]].values
print(X1)

In [ ]:
df.head()

WCSS - Within Clusters sum squares

In [ ]:
wcss1=[]

for i in range(1,11):
  km = KMeans(n_clusters = i, init ='k-means++')
  
  km.fit(X1)

  wcss1.append(km.inertia_)

In [ ]:
print(wcss1)

In [ ]:
sns.set()
plt.grid()
plt.plot(range(1,11),wcss1,linewidth=2,marker = 8,color = 'red')
plt.title('Elbow point graph')
plt.xlabel('number of clusters')
plt.ylabel('wcss1')
plt.show()

In [ ]:
kme = KMeans(n_clusters=4, init='k-means++')

y1 = kme.fit_predict(X1)
print(y1)

In [ ]:
print(kme.cluster_centers_)

In [ ]:
plt.figure(figsize =(12,8))
plt.scatter(X1[y1==0,0],X1[y1==0,1],s = 50,label = 'cluster1',color = 'green')
plt.scatter(X1[y1==1,0],X1[y1==1,1],s = 50,label = 'cluster2',color = 'blue')
plt.scatter(X1[y1==2,0],X1[y1==2,1],s = 50,label = 'cluster3',color = 'red')
plt.scatter(X1[y1==3,0],X1[y1==3,1],s = 50,label = 'cluster4',color = 'yellow')

plt.scatter(X1[:,0],X1[:,1],c = kme.labels_,cmap = 'rainbow')
plt.scatter(kme.cluster_centers_[:,0],kme.cluster_centers_[:,1],s = 100,label = 'centroid',color = 'black')
plt.title('customer group')
plt.xlabel('Age')
plt.ylabel('Annual Income')
plt.show()